# National Health and Nutrition Examination Survey (NHANES)
[https://wwwn.cdc.gov/nchs/nhanes/](https://wwwn.cdc.gov/nchs/nhanes/)

Este laboratório usará dados extraídos do NHANES.

## NHANES datasets from 2013-2014

Foram extraídos dados do [NHANES 2013-2014](https://wwwn.cdc.gov/nchs/nhanes/continuousnhanes/default.aspx?BeginYear=2013).

Os dados estão disponíveis em arquivos CSV no diretório `/data/nhanes`. Lá está disponível a documentação do esquema dos arquivos.

# Tarefa 1 - Esquema Relacional

Analise os arquivos CSV que estão no diretório `/data/nhanes` e escreva um esquema relacional referente às tabelas, suas chaves primárias e estrangeiras (não é SQL ainda). Coloque a chave primária com dois underlines antes e dois depois:

\__teste\__

demographic-person(_id_, gender, age)
medications-drug(_code_, name)
medications-use(_person_id_,_drug_code_, days_use)
    - CHE: _person_id_ para _id_
    - CHE: _drug_code_ para _code_

## Criação das Tabelas em SQL e Importação de Dados

Considere o seguinte exemplo em que é criada uma tabela em SQL e importado dados do arquivo CSV `demographic-person.csv`.

In [1]:
%defaultDatasource jdbc:h2:mem:db

In [2]:
CREATE TABLE Pessoa (
  Id VARCHAR(5) NOT NULL,
  Gender INTEGER,
  Age INTEGER,
  PRIMARY KEY(Id)
) AS SELECT
    id,
    gender,
    age
FROM CSVREAD('../../../data/nhanes/demographic-person.csv');

In [3]:
SELECT * FROM Pessoa;

# Tarefa 2 - Criação das Tabelas em SQL e Importação de Dados

Escreva instruções SQL para montar as duas tabelas restante, conforme definido no esquema relacional da **Tarefa 1**.

**Importante:** não defina chave primária para a tabela de uso de medicamento.

Durante a criação das tabelas, realize a importação dos dados do arquivo CSV nas tabelas criadas, conforme exemplo anterior.

In [4]:
CREATE TABLE Medicamento (
  Code VARCHAR(6) NOT NULL,
  Name VARCHAR(100),
  PRIMARY KEY(Code)
) AS SELECT
    code,
    name
FROM CSVREAD('../../../data/nhanes/medications-drug.csv');

CREATE TABLE Uso_Medicamento (
  Person_id VARCHAR(5) NOT NULL,
  Drug_code VARCHAR(6) NOT NULL,
  Days_use INTEGER,
) AS SELECT
    person_id,
    drug_code,
    days_use
FROM CSVREAD('../../../data/nhanes/medications-use.csv');

# Tarefa 3 - Consultas Simples

Execute as consultas a seguir.

a) Liste pessoas com idade acima de 60

In [5]:
SELECT * FROM Pessoa P WHERE P.Age > 60;

b) Liste as idades das pessoas cadastradas (sem repetições)

In [6]:
SELECT DISTINCT P.Age FROM Pessoa P;

c) Liste código das pessoas, idade, código dos medicamentos que usaram e dias de uso

In [8]:
SELECT P.Id, P.Age, Uso.Drug_code, Uso.Days_use
    FROM Pessoa P JOIN Uso_Medicamento Uso
    ON P.Id = Uso.Person_id;

d) Liste código das Pessoas, idade, nome dos medicamentos que usaram e quantos dias de uso

In [10]:
SELECT P.Id, P.Age, M.Name, Uso.Days_use
    FROM Pessoa P JOIN Uso_Medicamento Uso JOIN Medicamento M
    ON P.Id = Uso.Person_id AND M.Code = Uso.Drug_code;

e) Liste nome dos medicamentos que foram usados por pessoas (sem repetições)

In [11]:
SELECT DISTINCT M.Name 
    FROM Medicamento M JOIN Uso_Medicamento Uso
    ON M.Code = Uso.Drug_code;

f) Liste nome dos medicamentos usados por mais de 2.000 dias (sem repetições)

In [12]:
SELECT DISTINCT M.Name 
    FROM Medicamento M JOIN Uso_Medicamento Uso
    ON M.Code = Uso.Drug_code AND Uso.Days_use > 2000;